@tailwind base;
@tailwind components;
@tailwind utilities;



/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: transparent

}

/* Color del scroll */
::-webkit-scrollbar-thumb {
  background-color: rgba(202, 198, 198, 0.5);
  border-radius: 20px;
}
